{% extends 'base.html' %}
{% block title %}Password reset complete{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card-3d p-3">
            <div class="card-body text-center">
                <h4 class="mb-3 fw-bold">Password reset complete</h4>
                <p>Your password has been set. You can now <a href="{% url 'login' %}">log in</a> with your new password.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}